*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/.kotlin
/captures
.externalNativeBuild
.cxx
local.properties
/backend/node_modules

backend/node_modules/
backend/data/*.db-wal
backend/data/*.db-shm
/fplexpo/node_modules